body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  --gap: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

[hidden] {
  display: none !important;
}

.start-window {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60%;
  width: 40%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 0.1rem solid #000;
}

.board, .sub-grid {
  width: calc(100% - var(--gap) * 2);
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.board {
  grid-gap: var(--gap);
}

.sub-grid, .sub-grid > input {
  --row: 0;
  --col: 0;
  grid-column: var(--col);
  grid-row: var(--row);
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
  font-weight: bold;
}

input.invalid {
  color: red;
}