body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.board, .sub-grid {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.sub-grid, .sub-grid > input {
  --row: 0;
  --col: 0;
  grid-column: var(--col);
  grid-row: var(--row);
  -moz-appearance: textfield;
  appearance: textfield;
  text-align: center;
}

input.invalid {
  color: red;
}